.image-fit:nth-child(1) {
    height: 100vh;
    background-image: url('../img/poster-sans.png');
}

.image-fit:last-child {
    height: 100vh;
    background-image: url('../img/poster.png');
    background-position: right;
}